body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

#playerButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px;
}

#btn {
    border: none;
    background: none;
    width: 100px;
    height: 100px;
}

.iconRock, .iconPaper, .iconScissors {
    font-size: 50px;
    padding: 0;
}

#computerButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px;
}

#banner {
    display: flex;
    width: 300px;
    height: 150px;
    border: 5px solid black;
    margin: 0 auto;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}